<!DOCTYPE html>
<html>
    <head>
        <title>Calculo Numerico</title>
        <meta charset="UTF-8">
        <meta name="description" content="Calculo Numerico | Bissecção">
        <meta lang="pt-BR">
        <link href="../static/css/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>

        <h1>Função Zero </h1>
        <div id="dados">
            <h2>Resultado</h2>
            <h3>{{resultado}}</h3>
        </div>

            <input class="button" href="/" type="button" value="Novo Calculo">
            <input class="button" type="button" value="Visualizar Grafico">


    </body>
</html>